      descrTable.table {
         border-style: solid;
         border-width: 2px;
         padding: 2px;
      }
      descrTable.th {
         border-style: solid;
         border-width: 2px;
         padding: 4px;
      }
      descrTable.td {
         border-style: solid;
         border-width: 2px;
         padding: 4px;
      }
